header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-wrap: nowrap;
    background-color: transparent;
    color: white;
}

header h1 {
    flex-grow: 1;
    padding-left: 10px;
}

header p {
    flex-basis: 150px;
    flex-shrink: 1;
   
} 

p {
    font-size: 14;

}

body {
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
    padding-bottom: 60px;
    margin: 0;
}

.about-grid {
    display: grid;
    text-align: center;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    grid-template-areas:
        "title picture"
        "text picture";
    height: 390px;
    margin-bottom: 60px;
    margin-top: 30px;
   
}

.about-title {
    grid-area: title;
}

.about-text {
    grid-area: text;
}

.about-picture {
    grid-area: picture;
}

.tapping {
    grid-template-areas:
        "picture title"
        "picture text";
}

.boiling {
    grid-template-areas: 
        "picture title"
        "picture text";
}


footer {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 55px;
    background-color: lightslategray;
    width: 100%;
    padding-left: 10px;
}

.info {
   position: scroll;
      

}

.welcome {
  background-image: url(../images/gil_and_dec_3874.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  text-align: center;
  padding-top: 250px;
  color: white;
}

.button {
    display: block;
    background-color: white;
    color: black;
    padding: 10px 30px;
    text-align: center;
    width: fit-content;
    margin: 0 auto;
    font-size: 18px;
}

.tapping-picture {
    height: 380px;
    width: auto;
}

.sap-picture {
    height: 300px;
    width: auto;
}

.boiling-picture {
    height: 350px;
    width: auto;
}

.bottling-picture {
    height: 400px;
    width: auto;
}

.big-title {
    text-align: center;
    margin: 130px 0 120px 0;
}


