header {
    position: fixed;
    height: 90px;
    background-color: lightslategray;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-wrap: nowrap;
    
}

header h1 {
    flex-grow: 1;
    padding-left: 10px;
}

header p {
    flex-basis: 150px;
    flex-shrink: 1;
   
} 

p {
    font-size: 14;

}

body {
    background-color: white;
    padding: 80px 0 60px 0;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    align-content: center;
    justify-content: center;
}

.about {
    display: grid;
    
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 55px;
    background-color: lightslategray;
    width: 100%;
    padding-left: 10px;
}

.info {
   position: scroll;
      

}

.situation {
  background-image: url()
  height: 1000px;
}